/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* tipografy */
body{
    font-family: 'Open Sans', sans-serif;
}
i{
    font-size: 60px;
}
h1{
    font-size: 65px;
    padding-top: 106px;
    padding-bottom: 77px;
}
h2{
    padding-top: 166px;
    font-size: 30px;
    word-spacing: 10px;
}
.small{
    font-size: smaller;
    padding-top: 20px;
}
.prezzo{
    font-weight: bold;
    padding-top: 25px;
}
h4{
    padding-top: 35px;
}
.contenuto hr{
    width: 45px;
    margin-top: 40px;
}
h5{
    padding-top: 50px;
}
.contenuto ul{
    list-style-type: circle;
}
.info{
    padding-top: 30px;
    font-weight: bold;
}

/* common */
.lista-header li{
    list-style-type: none;
}
button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: 5px 30px;
}
.container-big{
    max-width: 1180px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
.img-operazioni{
    height: 200px;
}



/* header */
header .row{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.lista-header{
    display: flex;
}
.lista-header li{
    margin: 0 20px;
}
/* main */
h1{
    text-align: center;
}
.hero{
    background-color: #b4d0e7;
}
.contenitore{
    display: flex;
    width: 100%;
    height: 400px;
}
.img-jumbo{
    height: 460px;
}
.hero-left button{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}
.hero-left i{
    margin-top: 80px;
}
.fatturazione{
    padding-top: 76px;
}
.col{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.col i{
    font-size: 16px;
    padding-right: 5px;
}
.col1{
    border: 1px solid black;
    width: calc(100% / 3 - 20px);
}
.tipo{
    padding: 5px 100px;
    border-bottom: 1px solid black;
}
.pacchetti{
    flex-wrap: wrap;
    padding-top: 30px;
}
.contenuto{
    padding-left: 15px;
}
.contenuto button{
    margin-top: 50px;
    font-size: larger;
}
.link{
    padding-top: 36px;
}
.vantaggi{
    padding-top: 30px;
}

.col2{
    border: 1px solid black;
    margin-top: 50px;
}
.col2 i{
    font-size: 16px;
    padding-right: 5px;
}
.col2a{
    border: 1px solid black; 
    border-top: none;
    padding-left: 25px;
}
.col2 .tipo{
    text-align: center;
}
.team{
    display: flex;
    justify-content: space-between;
}
.team button{
    font-size: large;
    margin-right: 30px;
    margin-top: 25px;
}
.descrition{
    padding-top: 50px;
    padding-bottom: 35px;
}
.partner{
    display: flex;
    padding-top: 150px;
}
.img-partner{
    height: 500px;
    width: 600px;
}
.img-descrition{
    padding-top: 60px;
    padding-left: 50px;
}
.img-descrition p{
    padding-top: 30px;
}
.img-descrition button{
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: 35px;
    padding: 10px;
}
.operazioni{
    padding-top: 170px;
    display: flex;
    margin: auto;
}
.col3 img{
    padding-top: 80px;
}
.col3 h4{
    padding-top: 30px;
}
.col3 p{
    padding-top: 40px;
}