/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* tipografy */
body{
    font-family: 'Open Sans', sans-serif;
}
i{
    font-size: 60px;
}
h1{
    font-size: 65px;
    padding-top: 106px;
    padding-bottom: 77px;
}
.sottotitolo{
    padding-top: 166px;
    font-size: 30px;
    word-spacing: 10px;
}
.small{
    font-size: smaller;
    padding-top: 20px;
}
.prezzo{
    font-weight: bold;
    padding-top: 25px;
}
h4{
    padding-top: 35px;
}
.contenuto hr{
    width: 45px;
    margin-top: 40px;
}
h5{
    padding-top: 50px;
}
.contenuto ul{
    list-style-type: circle;
}
.info{
    padding-top: 30px;
    font-weight: bold;
}
li i{
    color: #0061ff;
}
.titolo-piani{
    font-size: 22px;
}


/* common */
.lista-header li{
    list-style-type: none;
}
button{
    border: none;
    background-color: #0061ff;
    color: white;
    padding: 5px 30px;
}
.container-big{
    max-width: 1180px;
    margin: auto;
}
.container-small{
    max-width: 1000px;
    margin: auto;
}
.img-operazioni{
    width: 100%;
}

/* header */
.position{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
}
header .row{
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #dedede;
}
.lista-header{
    display: flex;
}
.lista-header li{
    margin: 0 20px;
}
/* main */
h1{
    text-align: center;
}
.hero{
    background-color: #b4d0e7;
}
.contenitore{
    display: flex;
    width: 100%;
    height: 400px;
}
.img-jumbo{
    height: 460px;
}
.hero-left button{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}
.hero-left i{
    margin-top: 80px;
}
.fatturazione{
    padding-top: 76px;
}
.col{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.col i{
    font-size: 16px;
    padding-right: 5px;
}
.col1{
    border: 1px solid lightslategrey;
    width: calc(100% / 3 - 20px);
}
.tipo{
    padding: 5px 100px;
    border-bottom: 1px solid lightslategray;
    text-align: center;
}
.pacchetti{
    flex-wrap: wrap;
    padding-top: 30px;
}
.contenuto{
    padding-left: 15px;
}
.contenuto button{
    margin-top: 50px;
    font-size: larger;
}
.link{
    padding-top: 36px;
}
.vantaggi{
    padding-top: 30px;
    list-style-type: none;
}
.vantaggi1{
    padding-top:30px;
    padding-bottom: 50px;
    list-style-type: none;
}


.col2{
    border: 1px solid lightslategray;
    margin-top: 50px;
    border-bottom: none;
}
.col2 i{
    font-size: 16px;
    padding-right: 5px;
}
.col2a{
    border: 1px solid lightslategray; 
    border-top: none;
    padding-left: 25px;
}
.col2 .tipo{
    text-align: center;
}
.team{
    display: flex;
    justify-content: space-between;
}
.team button{
    font-size: large;
    margin-right: 30px;
    margin-top: 25px;
}
.descrition{
    padding-top: 50px;
    padding-bottom: 35px;
}
.partner{
    display: flex;
    padding-top: 150px;
}
.img-partner{
    height: 500px;
    width: 600px;
}
.img-descrition{
    padding-top: 60px;
    padding-left: 50px;
}
.img-descrition p{
    padding-top: 30px;
}
.img-descrition button{
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: 35px;
    padding: 10px;
}
.operazioni{
    padding-top: 30px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.col3{
    width: 30%;
    max-width: calc(100% / 3);
    margin: 0 15px;
    justify-content: space-around;
}
.col3 img{
    padding-top: 70px;
}
.col3 h4{
    padding-top: 30px;
}
.col3 p{
    padding-top: 40px;
}
.titolo{
    font-size: 30px;
    padding-top: 170px;
}
.elenco{
    font-size: 30px;
    padding-top: 215px;
}
.link-partner{
    padding-top: 70px;
}
.elenco-partner{
    display: flex;
    padding-top: 150px;
}
.partner-colsx{
    max-width: 33,3vw;
    height: 33.3vw;
    display: flex;
    flex-wrap: wrap;
}
.partner-colcentro{
    text-align: left;
    padding: 50px 50px;
    max-width: 33,3vw;
    height: auto;
    background-color: #f5f5f5;
}
.partner-coldx{
    max-width: 33,3vw;
    height: 33.3vw;
    display: flex;
    flex-wrap: wrap;
}
.img-svg{
    width: 60%;
    height: auto;
}
.contenitore-img1{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img2{
    background-color: #61082b;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img3{
    background-color: #0093ce;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img4{
    background-color: #ff1c1c;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img5{
    background-color: #d5001f;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img6{
    background-color: #b4d0e7;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img7{
    background-color: #0d2481;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenitore-img8{
    background-color: #ffd830;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr-centro{
    width: 110px;
    margin: 52px 0;
}
.dimensioni-svg{
    width: 270px;
}
.prova-gratuita{
    background-color: #b4d0e7;
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testo-prova{
    font-size: 30px;
    color: #61082b;
    padding-right: 225px;
}
.button-prova{
    background-color: white;
    color: black;
    padding: 15px 50px;
    font-size: 20px;
}
.domande{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    border-top: 1px solid black;
    padding: 20px 0;
}
.domande1{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    margin-bottom: 150px;
}
.domande i{
    font-size: 20px;
}
.domande1 i{
    font-size: 20px;
}
.titolo-domande{
    padding-top: 170px;
    padding-bottom: 70px;
}
/* footer */
footer{
    background-color: black;
    color: white;
}
.row-footer{
    display: flex;
    justify-content: space-between;
}
.li-footer{
    list-style-type: none;
}
.li-footer li{
    padding-top: 10px;
}
.titolo-lista{
    padding-top: 110px;
}
.hr-footer{
    width: 125px;
    margin-top: 110px;
}
.lingua i{
    font-size: 16px;
}
.lingua{
    padding: 55px 0;
}